@charset "utf-8";
@font-face {
    font-family: nintendo;
    src: url(fonts/zurich-extra-black.otf);
    font-weight: normal;
}
@font-face {
    font-family: mq;
    src: url(fonts/myriad-pro-black.otf);
    font-weight: normal;
}
@font-face {
    font-family: gl;
    src: url(fonts/Game\ Logos.ttf);
}

header img {
    width: 300px;
    height: auto;
    margin: 16px 0px;
}

nav {
    font-family: mq;
}

.index main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 414px;
}
.index main picture img {
    width: 100%;
    margin: 16px 0px;
}

footer a {
    font-family: gl;
    font-size: 20px;
    padding: 4px 8px !important;
    margin: 0px !important;
}

.emuladores div.resto {
    width: 12.5%;
    font-size: 12px;
}

.emuladores div.main {
    min-height: 473px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.emuladores div.w3-card-2 {
    display: inline-block;
    width: fit-content;
    padding: 8px !important;
    margin: 16px !important;
    font-family: mq;
}
.emuladores div.w3-card-2 h3, h5, p {
    padding: 8px 0px !important;
    margin: 0px 0px !important;
    font-family: mq;
}



.roms div.w3-card-2 {
    width: 250px;
    height: auto;
    font-family: mq;
    padding: 8px;
    margin: 16px;
}
.roms div.w3-card-2 img {
    width: 100%;
    height: 174px;
    border-radius: 2px 2px 0px 0px;
}.roms div.w3-card-2 div {
    border-radius: 0px 0px 2px 2px;
    margin-top: 8px;
}

.roms ul {
    padding: 0px;
}
.roms ul li {
    list-style: none;
    display: inline-block;
}
.roms ul li h5 {
    display: none;
}

.roms input {
    width: 41%;
    margin: 32px auto 16px;
}