@charset "utf-8";
@font-face {
    font-family: nintendo;
    src: url(fonts/zurich-extra-black.otf);
    font-weight: normal;
}
@font-face {
    font-family: mq;
    src: url(fonts/myriad-pro-black.otf);
    font-weight: normal;
}
@font-face {
    font-family: gl;
    src: url(fonts/Game\ Logos.ttf);
}

header img {
    width: 300px;
    height: auto;
    margin: 16px 0px;
}

nav {
    font-family: mq;
}

.index main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 414px;
}
.index main picture img {
    width: 100%;
    margin: 16px 0px;
}

footer a {
    font-family: gl;
    font-size: 20px;
    padding: 4px 8px!important;
    margin: 0px !important;
}

.emuladores main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 414px;
}
.emuladores .w3-card-2 {
    padding: 8px;
    margin: 0px 16px;
}