@charset "utf-8";
@font-face {
    font-family: nintendo;
    src: url(fonts/zurich-extra-black.otf);
}
@font-face {
    font-family: mq;
    src: url(fonts/myriad-pro-black.otf);
}

header img {
    width: 300px;
    margin: 16px 0px;
}

.index main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 349px;
}
.index main picture img {
    width: 100%;
    margin: 16px 0px;
}